#For client
client/node_modules

#For comments
comments/node_modules

#For posts
posts/node_modules

#For event-bus
event-bus/node_modules

#For query
query/node_modules

#For moderation
moderation/node_modules

#For my personal notes
private
